:root{
  --green-color: #5DE290;
  --red-color: #E34F4F;
  --turquesa-color: #4DA6B3;
  --grey-text-color: #848484;
  --bg-color: #555555;
  --bg-modal-color: #FFFFFF;
  --bg-progress-bar-color: #E4E4E4;
  --border-input-color: #DBDBDB;
  --input-disabled-color: #F7F7F8;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6{
  color: var(--grey-text-color);
  letter-spacing: 0;
}

p, 
span{
  color: var(--grey-text-color);
  letter-spacing: 0;
}

input[type="text"]{
  color: var(--grey-text-color);
  border: none;
  border-radius: inherit;
  outline: none;
}

::placeholder{
  color: var(--grey-text-color);
}

button{
  background: var(--bg-color);
  cursor: pointer;
}

